body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: "GeosansLight";
    padding: 30px;
    overflow: hidden;
    font-size: 17pt;
}

#stars {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#stars img {
    position: absolute;
    width: 100px;
    image-rendering: -moz-crisp-edges;
}

#header {
    margin-top: 15px;
}

#logo {
    margin-top: 20px;
    width: 100%;
    image-rendering: -moz-crisp-edges;
}

#main {
    font-family: Arcadepix;
}

#best {
    position: relative;
}

#bestBlock {
    position: absolute;
    top: 50px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    display: none;
}

#bestBlock .score {
    color: cyan;
    font-size: 500%;
}
#bestBlock .name {
    font-size: 200%;
    color: cyan;
    text-transform: uppercase;
}

#scores h1 {
    font-weight: bold;
}

#scores li {
    text-transform: uppercase;
}

#footer {
    position: absolute;
    bottom: 20px;
    height: 100px;
    width: 100%;
}

#footer p {
    margin-top: 50px;
    text-align: center;
}

#footer div, #footer div img {
    height: 100%;
}
