body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: "GeosansLight";
    padding: 30px;
    overflow: hidden;
    font-size: 17pt;
}

#header {
    margin-top: 30px;
}

#logo {
    margin-top: 20px;
    width: 100%;
    image-rendering: -moz-crisp-edges;
}

#main {
    margin-top: 20px;
    font-family: Arcadepix;
}

#scores {
    font-size: 110%;
}

#scores h1 {
    font-weight: bold;
}

#scores li {
    text-transform: uppercase;
}

#footer {
    position: absolute;
    bottom: 20px;
    height: 100px;
    width: 100%;
}

#footer p {
    margin-top: 50px;
    font-size: 75%;
    text-align: center;
}

#footer div, #footer div img {
    height: 100%;
}
